-<!DOCTYPE html>
<html lang="en">
   <head>
   <title>Email Tool</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
</head>
   <body>
      <div class = "carousel slide" data-ride="carousel">
         <div class = "carousel-inner">
            <div class="carousel-item active"></div>
        
            <img class="d-block w-100 darken_img" src="carousel1.jpg" alt="First slide">
            <div class="form-group container align carousel-caption d-none d-md-block">
               <form  class="align"enctype="multipart/form-data"  method="post">
                  {% csrf_token %}
                  <h1>INPUT TEXT:</h1><br>
                  <input type="text" class ="input_size form-control col-sm-5" placeholder="Sender Name" name="r_name" required><br>
                  <input type="email" class="input_size form-control col-sm-5" placeholder="Sender Email" name="r_email" required><br>
                  <input type="password" class="input_size form-control col-sm-5" placeholder="Email Password" name="r_password" required><br>
                  <input type="text" class="subject_size form-control col-sm-5" placeholder="Subject of Email" name="subject_email" required><br>
                  <textarea style="font-size: x-large;" type="text" class="email_size form-control" placeholder="Email Content" name="content_email" required></textarea><br>
      
                  {{data_external}}<br>
                  {{data1}}
                  <button class="btn btn-primary" type="submit" > SEND EMAIL</button>
               </form>
               </div>
            </div>
         </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
   </body>
</html>
